<div class="pure-u-1">
  <div class="content">
    <form class='pure-form pure-form-aligned' {{action update on="submit"}}>
      {{input type="hidden" value=id}}

      <fieldset>
        <legend>Edit Post</legend>

        {{ partial "articles/form" }}

        {{ panic "Save" }}
      </fieldset>
    </form>
  </div>
</div>
