<div class="pure-u-1">
  <div class="content">
    <form class='pure-form pure-form-aligned' {{action create on="submit"}}>

      <fieldset>
        <legend>New Post</legend>

        {{ partial "articles/form" }}

        {{ panic "Save" }}
      </fieldset>
    </form>
  </div>
</div>
