<div class="large-9 columns" role="content">
  
  {{#each article in model}}
  
    <article>
      <h3><a href="#">{{ article.title }}</a></h3>
      <h6>Written by <a href="#">{{ article.user }}</a> on {{ article.created_at }}</h6>
      {{ article.body }}
    </article>
    <hr />

  {{/each}}

</div>