<div class="small-6 large-centered columns" role="content">
  <form id='signin'>
    <fieldset>
      <legend>Login</legend>

      <div class="row">
        <div class="large-12 columns">
          <label>Email</label>
          <input type="email" placeholder="Email" required>
        </div>
        <div class="large-12 columns">
          <label>Senha</label>
          <input type="password" placeholder="Senha" required>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <button class="button radius expand">Entrar</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>