<div class="pure-u-1"> 
  <div class="content"> 
    <form class="pure-form" id='signin' action='/users/session' method='POST'>
      <fieldset class='pure-group'>
        <legend>Login</legend>

        {{input type="email" name="email" placeholder="Email" class="pure-input-1-2" value=email}}
        {{input type="password" placeholder="Senha" class="pure-input-1-2" name="password" value=password}}

        {{ panic "Entrar" }}
      </fieldset>
    </form>
  </div>
</div>
