<div class="small-6 large-centered columns" role="content">
  <form id='signup' action='/users' method='POST'>
    <fieldset>
      <legend>Cadastro</legend>

      <div class="row">
        <div class="large-12 columns">
          {{input type="text" name="name" placeholder="Nome" value=name}}
        </div>
        <div class="large-12 columns">
          {{input type="email" placeholder="Email" name="email" value=email}}
        </div>
        <div class="large-12 columns">
          {{input type="password" placeholder="Senha" name="password" value=password}}
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <button class="button small radius expand">Sign Up</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>