<div class="pure-u-1">
  <div class="content">
    <form class='pure-form' id='signup' action='/users' method='POST'>
      <fieldset class='pure-group'>
        <legend>Cadastro</legend>

        {{input type="text" name="name" placeholder="Nome" value=name class="pure-input-1-2"}}
        {{input type="email" placeholder="Email" name="email" value=email class="pure-input-1-2"}}
        {{input type="password" placeholder="Senha" name="password" value=password class="pure-input-1-2"}}

        {{ panic "Register" }}

      </fieldset>
    </form>
  </div>
</div>