<div id='menu'>
  <div class='pure-menu pure-menu-open'>
    <ul>
      {{#each article in model}}
      <li>{{#link-to 'article' article.id}}{{ article.title }}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
</div>