<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  [[#user]]<meta name="current-user" content="[[user._id]]">[[/user]]
  <title>[[ title ]]</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="css/blog.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>

  <script type="text/x-handlebars">
    <div class="pure-menu pure-menu-open pure-menu-horizontal fright">
      <ul class='fright'>
        <li>{{#link-to 'index'}} Home {{/link-to}}</li>
        [[#user]]
          <li>{{#link-to 'profile'}} Profile {{/link-to}}</li>
          <li>{{#link-to 'articles.new'}} Novo Post {{/link-to}}</li>
          <li><a href='/logout'>Logout</a></li>
        [[/user]]
        [[^user]]
          <li>{{#link-to 'register'}} Register {{/link-to}}</li>
          <li>{{#link-to 'login'}} Login {{/link-to}}</li>
        [[/user]]
      </ul>
    </div>

    <div class="pure-g-r" id="layout">

      <div class="sidebar pure-u">
        <header class="header">
          <hgroup>
            <h2 class="brand-tagline">
              [[#user]]Hey, [[ user.name ]][[/user]]</small>
            </h2>
            <h1 class="brand-title">[[ title ]]</h1>
          </hgroup>
        </header>
        {{ outlet sidebar }}
      </div>

      {{ outlet }}
    </div>
  </script>

  <script src="http://localhost:35729/livereload.js"></script>
  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="js/vendor/moment.min.js"></script>
  <script src="js/libs/jquery-1.9.1.js"></script>
  <script src="js/libs/handlebars-1.0.0.js"></script>
  <script src="js/libs/ember-1.1.2.js"></script>
  <script src="js/libs/ember-data.js"></script>
  
  <script src="js/nodejam/templates.js"></script>
  <script src="js/nodejam.js"></script>

  <script src="js/nodejam/helpers.js"></script>
  <script src="js/nodejam/models.js"></script>
  <script src="js/nodejam/controllers.js"></script>
  <script src="js/nodejam/routes.js"></script>
</body>
</html>